<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="blue-grey">
  <nav class = "amber darken-2">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Sticky Notes</a>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <%= yield %>
  </div>


</body>
</html>
